<div>
    <form [formGroup]="agendamentoForm" (ngSubmit)="addTransferencia(agendamentoForm.value)">
        <div class="container justify-content-center">
            <div class="m-2 row justify-content-start">
                <label for="contaOrigem">Conta Origem: </label>
                <input id="contaOrigem" type="text" formControlName="contaOrigem" maxlength="6">
                <span *ngIf="agendamentoForm.get('contaOrigem')?.errors 
                && (agendamentoForm.get('contaOrigem')?.touched && agendamentoForm.get('contaOrigem')?.dirty)">
                Inserir Conta Origem. Ex: "123456"</span>
            </div>
        
            <div class="m-2 row justify-content-start ">
                <label for="contaDestino">Conta Destino: </label>
                <input id="contaDestino" type="text" formControlName="contaDestino" maxlength="6">
                <span *ngIf="agendamentoForm.get('contaDestino')?.errors 
                && (agendamentoForm.get('contaDestino')?.touched && agendamentoForm.get('contaDestino')?.dirty)">
                Inserir Conta Destino. Ex: "123456"</span>
            </div>
        
            <div class="m-2 row justify-content-start">
                <label for="vlrTransferencia">Valor da Transferência: </label>
                <input id="vlrTransferencia" type="text" formControlName="vlrTransferencia">
                <span *ngIf="agendamentoForm.get('vlrTransferencia')?.errors 
                && (agendamentoForm.get('vlrTransferencia')?.touched && agendamentoForm.get('vlrTransferencia')?.dirty)">
                Inserir Valor da Transferência. Ex: "3500,50"</span>
            </div>
        
            <div class="m-2 row justify-content-start">
                <label for="dtTransferencia">Data da Transferência: </label>
                <input id="dtTransferencia" type="date" formControlName="dtTransferencia">
                <span *ngIf="agendamentoForm.get('dtTransferencia')?.errors 
                && (agendamentoForm.get('dtTransferencia')?.touched && agendamentoForm.get('dtTransferencia')?.dirty)">
                Inserir Data da Transferência</span>
            </div>
            
            <div class="my-4 row justify-content-between">
                <a routerLink="/transferencias-agendadas"  class="p-0 mx-3 col-3">
                    <button>CONSULTAR AGENDAMENTOS</button>
                </a>
                <button class="mx-3 col-3">ENVIAR</button>
            </div>
        </div>
    </form>
</div>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>